ch12/assistant_node.json
[{"id":"e2d5a234.d2c46","type":"subflow","name":"control led","info":"","category":"Raspberry Pi","in":[{"x":40,"y":100,"wires":[{"id":"b0d11225.80d6d"},{"id":"dd44f6be.0cf958"},{"id":"2e6176b3.9ce01a"}]}],"out":[],"icon":"node-red/rpi.png"},{"id":"4be72e9c.9970c","type":"rpi-gpio out","z":"e2d5a234.d2c46","name":"Pin15: red","pin":"15","set":true,"level":"0","freq":"","out":"out","x":410,"y":40,"wires":[]},{"id":"18584bb5.b68834","type":"rpi-gpio out","z":"e2d5a234.d2c46","name":"Pin16: green","pin":"16","set":true,"level":"0","freq":"","out":"out","x":410,"y":100,"wires":[]},{"id":"3395242d.5654cc","type":"rpi-gpio out","z":"e2d5a234.d2c46","name":"Pin18: blue","pin":"18","set":true,"level":"0","freq":"","out":"out","x":410,"y":160,"wires":[]},{"id":"b0d11225.80d6d","type":"change","z":"e2d5a234.d2c46","name":"payload = payload.r","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":40,"wires":[["4be72e9c.9970c"]]},{"id":"dd44f6be.0cf958","type":"change","z":"e2d5a234.d2c46","name":"payload = payload.g","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.g","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":100,"wires":[["18584bb5.b68834"]]},{"id":"2e6176b3.9ce01a","type":"change","z":"e2d5a234.d2c46","name":"payload = payload.b","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.b","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":160,"wires":[["3395242d.5654cc"]]},{"id":"9ebc2f26.2c1f6","type":"tab","label":"Assistant","disabled":false,"info":""},{"id":"354dd04f.e4dea8","type":"rpi-gpio in","z":"9ebc2f26.2c1f6","name":"","pin":"22","intype":"up","debounce":"25","read":false,"x":100,"y":40,"wires":[["4616996c.8537e8"]]},{"id":"27202049.0679e","type":"watson-speech-to-text","z":"9ebc2f26.2c1f6","name":"Speech to Text","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"iibCZXuJQebVgYp36rnKR7hIO1z4KWcqKzeAdgPc8pFK","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/speech-to-text/api","x":660,"y":120,"wires":[["90176bfe.1b33d","ebb5cdf5.5f013"]]},{"id":"1aae4caa.37fddb","type":"file in","z":"9ebc2f26.2c1f6","name":"Read voice file","filename":"/home/pi/speech.wav","format":"","sendError":true,"x":480,"y":120,"wires":[["27202049.0679e"]]},{"id":"1701b962.e4426f","type":"exec","z":"9ebc2f26.2c1f6","command":"arecord -r 44000 -D plughw:1,0 -f S16_LE -d 3 /home/pi/speech.wav","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"命令録音","x":320,"y":120,"wires":[["1aae4caa.37fddb"],[],[]]},{"id":"576e7384.15ed8c","type":"rpi-gpio out","z":"9ebc2f26.2c1f6","name":"Pin16: 緑","pin":"16","set":true,"level":"0","freq":"","out":"out","x":580,"y":40,"wires":[]},{"id":"714a8406.3b0d7c","type":"watson-conversation-v1","z":"9ebc2f26.2c1f6","name":"","workspaceid":"c87be041-0a95-48ee-9c83-6f99ef25d261","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":440,"y":220,"wires":[["570ff0cd.048ad","f3374b58.400a08","f8cb9164.6c9","eeb56b65.602508"]]},{"id":"570ff0cd.048ad","type":"debug","z":"9ebc2f26.2c1f6","name":"Intentの確認","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.intents[0].intent","targetType":"msg","x":730,"y":180,"wires":[]},{"id":"f3374b58.400a08","type":"switch","z":"9ebc2f26.2c1f6","name":"Intentの分解","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"raise-arm","vt":"str"},{"t":"eq","v":"lower-arm","vt":"str"},{"t":"eq","v":"wave","vt":"str"},{"t":"eq","v":"shine","vt":"str"},{"t":"eq","v":"ip","vt":"str"},{"t":"eq","v":"see","vt":"str"},{"t":"eq","v":"shutdown","vt":"str"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":8,"x":170,"y":600,"wires":[["7aeb9997.34fcf8"],["5dc95952.0779e"],["6d43cd02.83e0f4"],["946fbb1c.4ebae"],["1ac5c137.2a2d27"],["78bb0332.883724"],["3c63aaf2.8402e6"],[]]},{"id":"f2efc66a.08137","type":"rpi-gpio out","z":"9ebc2f26.2c1f6","name":"Pin26: サーボモーター制御","pin":"26","set":"","level":"0","freq":"50","out":"pwm","x":900,"y":420,"wires":[]},{"id":"9a044505.a6939","type":"trigger","z":"9ebc2f26.2c1f6","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":630,"y":420,"wires":[["f2efc66a.08137"]]},{"id":"7aeb9997.34fcf8","type":"function","z":"9ebc2f26.2c1f6","name":"手をあげる(2)","func":"msg.payload = 2;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["9a044505.a6939"]]},{"id":"5dc95952.0779e","type":"function","z":"9ebc2f26.2c1f6","name":"手を下げる(7)","func":"msg.payload = 7;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["19f0d961.bc1627"]]},{"id":"19f0d961.bc1627","type":"trigger","z":"9ebc2f26.2c1f6","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":630,"y":460,"wires":[["f2efc66a.08137"]]},{"id":"47d29a9d.9260fc","type":"watson-text-to-speech","z":"9ebc2f26.2c1f6","name":"Text to Speech","lang":"ja-JP","langhidden":"ja-JP","langcustomhidden":"","voice":"ja-JP_EmiV3Voice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","apikey":"cF812HSX1_zuwc4W_GvTBJtqIZlsDOAqDe1Gn-H69O7W","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/text-to-speech/api","x":960,"y":1100,"wires":[["f1cc3436.30e0e"]]},{"id":"6d43cd02.83e0f4","type":"function","z":"9ebc2f26.2c1f6","name":"手を振る(12)","func":"msg.payload = 12;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["f2efc66a.08137","c65e635c.aedbe8"]]},{"id":"b2712420.a88e8","type":"trigger","z":"9ebc2f26.2c1f6","op1":"","op2":"0","op1type":"pay","op2type":"num","duration":"400","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":950,"y":500,"wires":[["f2efc66a.08137"]]},{"id":"c65e635c.aedbe8","type":"delay","z":"9ebc2f26.2c1f6","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":500,"wires":[["6af81df.41f4c64"]]},{"id":"6af81df.41f4c64","type":"function","z":"9ebc2f26.2c1f6","name":"手をあげる(2)","func":"msg.payload = 2;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":500,"wires":[["b2712420.a88e8"]]},{"id":"90176bfe.1b33d","type":"function","z":"9ebc2f26.2c1f6","name":"設定","func":"msg.additional_context = {\"timezone\":\"Asia/Tokyo\"};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["714a8406.3b0d7c"]]},{"id":"78bb0332.883724","type":"camerapi-takephoto","z":"9ebc2f26.2c1f6","filemode":"0","filename":"photo1.jpeg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":420,"y":920,"wires":[["e902b5e1.1a939"]]},{"id":"e902b5e1.1a939","type":"visual-recognition-v3","z":"9ebc2f26.2c1f6","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"ja","x":610,"y":920,"wires":[["a306cf2.ff148b"]]},{"id":"a306cf2.ff148b","type":"function","z":"9ebc2f26.2c1f6","name":"データ抽出","func":"var classes = [];\nmsg.payload = {};\n// レスポンスからclassの配列を取り出す\nclasses = msg.result.images[0].classifiers[0].classes;\nmsg.payload.classes = classes;\nmsg.payload.imageSrc = msg.result.images[0].resolved_url;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":920,"wires":[["4ee4116f.8adcf8"]]},{"id":"4ee4116f.8adcf8","type":"switch","z":"9ebc2f26.2c1f6","name":"","property":"payload.classes.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"gt","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":350,"y":1100,"wires":[["ead104ed.aa274"],["41f9abe1.ba3b94"],["10734f41.4da0f9"],["fdedbdb1.45e888"]]},{"id":"ead104ed.aa274","type":"function","z":"9ebc2f26.2c1f6","name":"整形","func":"var talk = '何だかわかりませんでした';\nmsg.payload = talk;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1060,"wires":[["47d29a9d.9260fc"]]},{"id":"41f9abe1.ba3b94","type":"function","z":"9ebc2f26.2c1f6","name":"整形","func":"var talk = '何だかわかりませんでした1';\nmsg.payload = talk;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1100,"wires":[["47d29a9d.9260fc"]]},{"id":"10734f41.4da0f9","type":"function","z":"9ebc2f26.2c1f6","name":"整形","func":"var talk = '私に見えているのは、'+ msg.payload.classes[0].class +'や'+ msg.payload.classes[1].class +'です';\nmsg.payload = talk;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":1140,"wires":[["47d29a9d.9260fc"]]},{"id":"fdedbdb1.45e888","type":"function","z":"9ebc2f26.2c1f6","name":"整形","func":"var talk = '私に見えているのは、'+ msg.payload.classes[0].class +'や'+ msg.payload.classes[1].class +'そして'+ msg.payload.classes[2].class +'などです';\nmsg.payload = talk;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":1180,"wires":[["47d29a9d.9260fc"]]},{"id":"cce4ce5f.beca58","type":"template","z":"9ebc2f26.2c1f6","name":"データの作成(赤)","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"r\": true,\n    \"g\": false,\n    \"b\": false\n}","output":"json","x":590,"y":560,"wires":[["1c46833c.0c6075","8b9e83ee.435848"]]},{"id":"599c8e87.ad84f","type":"template","z":"9ebc2f26.2c1f6","name":"データの作成(緑)","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"r\": false,\n    \"g\": true,\n    \"b\": false\n}","output":"json","x":590,"y":600,"wires":[["1c46833c.0c6075","8b9e83ee.435848"]]},{"id":"bc7e5ecf.047bb","type":"template","z":"9ebc2f26.2c1f6","name":"データの作成(青)","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"r\": false,\n    \"g\": false,\n    \"b\": true\n}","output":"json","x":590,"y":640,"wires":[["1c46833c.0c6075","8b9e83ee.435848"]]},{"id":"a6671cd2.d0dad8","type":"template","z":"9ebc2f26.2c1f6","name":"データの作成(水色)","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"r\": false,\n    \"g\": true,\n    \"b\": true\n}","output":"json","x":590,"y":720,"wires":[["1c46833c.0c6075","8b9e83ee.435848"]]},{"id":"10b40717.d2f6a9","type":"template","z":"9ebc2f26.2c1f6","name":"データの作成(黄)","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"r\": true,\n    \"g\": true,\n    \"b\": false\n}","output":"json","x":590,"y":680,"wires":[["1c46833c.0c6075","8b9e83ee.435848"]]},{"id":"d575212c.ab0768","type":"template","z":"9ebc2f26.2c1f6","name":"データの作成(マゼンタ)","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"r\": true,\n    \"g\": false,\n    \"b\": true\n}","output":"json","x":610,"y":760,"wires":[["1c46833c.0c6075","8b9e83ee.435848"]]},{"id":"d6566ca3.53065","type":"template","z":"9ebc2f26.2c1f6","name":"データの作成(白)","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"r\": true,\n    \"g\": true,\n    \"b\": true\n}","output":"json","x":590,"y":800,"wires":[["1c46833c.0c6075","8b9e83ee.435848"]]},{"id":"1b7d0b4c.206e85","type":"template","z":"9ebc2f26.2c1f6","name":"データの作成(オフ)","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"r\": false,\n    \"g\": false,\n    \"b\": false\n}","output":"json","x":930,"y":800,"wires":[["8b9e83ee.435848"]]},{"id":"946fbb1c.4ebae","type":"switch","z":"9ebc2f26.2c1f6","name":"色の分解","property":"payload.entities[0].value","propertyType":"msg","rules":[{"t":"eq","v":"赤","vt":"str"},{"t":"eq","v":"緑","vt":"str"},{"t":"eq","v":"青","vt":"str"},{"t":"eq","v":"黄","vt":"str"},{"t":"eq","v":"水色","vt":"str"},{"t":"eq","v":"マゼンタ","vt":"str"},{"t":"eq","v":"白","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":380,"y":620,"wires":[["cce4ce5f.beca58"],["599c8e87.ad84f"],["bc7e5ecf.047bb"],["10b40717.d2f6a9"],["a6671cd2.d0dad8"],["d575212c.ab0768"],["d6566ca3.53065"]]},{"id":"1c46833c.0c6075","type":"delay","z":"9ebc2f26.2c1f6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":720,"wires":[["1b7d0b4c.206e85"]]},{"id":"1555a984.496b3e","type":"trigger","z":"9ebc2f26.2c1f6","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":420,"y":40,"wires":[["576e7384.15ed8c"]]},{"id":"4616996c.8537e8","type":"switch","z":"9ebc2f26.2c1f6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":40,"wires":[["1555a984.496b3e","1701b962.e4426f"]]},{"id":"f1cc3436.30e0e","type":"speakerpi-output","z":"9ebc2f26.2c1f6","choose":"filebased","filename":"","channels":"1","bitdepth":"16","samplerate":"22050","name":"","x":940,"y":1220,"wires":[[]]},{"id":"f8cb9164.6c9","type":"debug","z":"9ebc2f26.2c1f6","name":"応答メッセージの確認","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.output.text[0]","targetType":"msg","x":760,"y":240,"wires":[]},{"id":"ebb5cdf5.5f013","type":"debug","z":"9ebc2f26.2c1f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":120,"wires":[]},{"id":"1ac5c137.2a2d27","type":"hostip","z":"9ebc2f26.2c1f6","name":"Host IP","x":440,"y":860,"wires":[["61a25e50.c9b3f8"]]},{"id":"8b9e83ee.435848","type":"subflow:e2d5a234.d2c46","z":"9ebc2f26.2c1f6","name":"","x":990,"y":560,"wires":[]},{"id":"8b7c6b02.15d178","type":"function","z":"9ebc2f26.2c1f6","name":"整形","func":"msg.payload = msg.payload[0].address;\nmsg.payload = msg.payload + \"です。\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":860,"wires":[["47d29a9d.9260fc"]]},{"id":"3c63aaf2.8402e6","type":"delay","z":"9ebc2f26.2c1f6","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":980,"wires":[["e658250f.302018"]]},{"id":"e658250f.302018","type":"exec","z":"9ebc2f26.2c1f6","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":980,"wires":[[],[],[]]},{"id":"764abf0d.2ed4a","type":"watson-text-to-speech","z":"9ebc2f26.2c1f6","name":"Text to Speech","lang":"ja-JP","langhidden":"ja-JP","langcustomhidden":"","voice":"ja-JP_EmiV3Voice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","apikey":"cF812HSX1_zuwc4W_GvTBJtqIZlsDOAqDe1Gn-H69O7W","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/text-to-speech/api","x":740,"y":320,"wires":[["2c2a2edc.fb334a"]]},{"id":"2c2a2edc.fb334a","type":"speakerpi-output","z":"9ebc2f26.2c1f6","choose":"filebased","filename":"","channels":"1","bitdepth":"16","samplerate":"22050","name":"","x":940,"y":320,"wires":[[]]},{"id":"eeb56b65.602508","type":"function","z":"9ebc2f26.2c1f6","name":"メッセージ転送","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["764abf0d.2ed4a"]]},{"id":"c4dc5941.040008","type":"inject","z":"9ebc2f26.2c1f6","name":"","topic":"","payload":"あなたは誰？","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["90176bfe.1b33d"]]},{"id":"a6ac3afa.8a21d8","type":"inject","z":"9ebc2f26.2c1f6","name":"","topic":"","payload":"IPアドレスは？","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["90176bfe.1b33d"]]},{"id":"2e786ee9.2ae50a","type":"inject","z":"9ebc2f26.2c1f6","name":"","topic":"","payload":"冗談を言って","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["90176bfe.1b33d"]]},{"id":"b6ac5a7e.509b4","type":"inject","z":"9ebc2f26.2c1f6","name":"","topic":"","payload":"手を振って","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["90176bfe.1b33d"]]},{"id":"8bc5ef56.a1ef78","type":"inject","z":"9ebc2f26.2c1f6","name":"","topic":"","payload":"今何時？","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["90176bfe.1b33d"]]},{"id":"8610edad.80097","type":"inject","z":"9ebc2f26.2c1f6","name":"","topic":"","payload":"頭を紫にして","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["90176bfe.1b33d"]]},{"id":"2dec6ac7.506b1e","type":"inject","z":"9ebc2f26.2c1f6","name":"","topic":"","payload":"何が見える？","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["90176bfe.1b33d"]]},{"id":"14b67518.527053","type":"inject","z":"9ebc2f26.2c1f6","name":"","topic":"","payload":"電源を切って","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["90176bfe.1b33d"]]},{"id":"61a25e50.c9b3f8","type":"delay","z":"9ebc2f26.2c1f6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":860,"wires":[["8b7c6b02.15d178"]]}]