ch15/Flow1-Bar.json
[{"id":"db350e7e.c809f","type":"tab","label":"NeoPixel-1","disabled":false,"info":""},{"id":"929a459a.a93da8","type":"rpi-neopixels","z":"db350e7e.c809f","name":"Bar - Number of pixels","pixels":"12","bgnd":"","fgnd":"","wipe":"0","mode":"pixels","rgb":"rgb","brightness":"100","gamma":true,"x":426.5000305175781,"y":172,"wires":[]},{"id":"a9a682a2.3cccf","type":"inject","z":"db350e7e.c809f","name":"","topic":"","payload":"Red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":96,"wires":[["929a459a.a93da8"]]},{"id":"bcdf07b1.5f38d8","type":"inject","z":"db350e7e.c809f","name":"","topic":"","payload":"0,255,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":145,"wires":[["929a459a.a93da8"]]},{"id":"8582ff18.518c4","type":"inject","z":"db350e7e.c809f","name":"","topic":"","payload":"#0000FF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":195,"wires":[["929a459a.a93da8"]]},{"id":"b001b3ca.0b324","type":"inject","z":"db350e7e.c809f","name":"","topic":"","payload":"0,0,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":245,"wires":[["929a459a.a93da8"]]},{"id":"2c46a2d7.27538e","type":"rpi-neopixels","z":"db350e7e.c809f","name":"Bar - Number of pixels","pixels":"12","bgnd":"Blue","fgnd":"Red","wipe":"0","mode":"pixels","rgb":"rgb","brightness":"100","gamma":true,"x":426.00004959106445,"y":306.0000476837158,"wires":[]},{"id":"1d411248.73708e","type":"inject","z":"db350e7e.c809f","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":308,"wires":[["2c46a2d7.27538e"]]}]