ch15/Flow4-Clockwise.json
[{"id":"91c43ff7.600fd","type":"tab","label":"Neopixel-4","disabled":false,"info":""},{"id":"82ef1af8.0a1a78","type":"change","z":"91c43ff7.600fd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":208,"wires":[["35d672e.4e1c38e"]]},{"id":"ee6c0d0.7fd73f","type":"switch","z":"91c43ff7.600fd","name":"","property":"i","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":452.99991607666016,"y":86.9999828338623,"wires":[["bfa0e858.a98308"],["82ef1af8.0a1a78"]]},{"id":"97d41038.2344","type":"rpi-neopixels","z":"91c43ff7.600fd","name":"Shift pixels","pixels":"12","bgnd":"","fgnd":"","wipe":"0","mode":"shiftu","rgb":"rgb","brightness":"20","gamma":true,"x":936.0003089904785,"y":81.00004959106445,"wires":[]},{"id":"aca81c6b.88583","type":"delay","z":"91c43ff7.600fd","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":434.9999084472656,"y":211,"wires":[["ee6c0d0.7fd73f"]]},{"id":"3f3c2c09.413f54","type":"change","z":"91c43ff7.600fd","name":"","rules":[{"t":"set","p":"i","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":279.9999008178711,"y":86.99997520446777,"wires":[["ee6c0d0.7fd73f"]]},{"id":"bfa0e858.a98308","type":"function","z":"91c43ff7.600fd","name":"change color","func":"if (msg.payload === \"Blue\"){\n   msg.payload=\"Red\";\n}\nelse\n   msg.payload=\"Blue\";\n   \nmsg.i++;\nreturn msg;\n","outputs":1,"noerr":0,"x":668.0003051757812,"y":80.00003051757812,"wires":[["97d41038.2344","aca81c6b.88583"]]},{"id":"2a557956.69a546","type":"inject","z":"91c43ff7.600fd","name":"","topic":"","payload":"Blue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.4999008178711,"y":87.99996948242188,"wires":[["3f3c2c09.413f54"]]},{"id":"35d672e.4e1c38e","type":"rpi-neopixels","z":"91c43ff7.600fd","name":"Shift pixels","pixels":"12","bgnd":"","fgnd":"","wipe":"0","mode":"pixels","rgb":"rgb","brightness":"100","gamma":true,"x":935.0000610351562,"y":207.00003051757812,"wires":[]},{"id":"7dc018aa.126488","type":"comment","z":"91c43ff7.600fd","name":"2色を時計回りに動かす","info":"","x":132,"y":38,"wires":[]}]