ch15/Flow2-Needle.json
[{"id":"d0ab1e34.248f8","type":"tab","label":"NeoPixel-2","disabled":false,"info":""},{"id":"99987a57.0d7188","type":"rpi-neopixels","z":"d0ab1e34.248f8","name":"Needle - Number of pixels","pixels":"12","bgnd":"","fgnd":"","wipe":"40","mode":"pixelsneedle","rgb":"rgb","brightness":"100","gamma":true,"x":462.00001525878906,"y":113.00000476837158,"wires":[]},{"id":"ac4d4d8b.423d6","type":"inject","z":"d0ab1e34.248f8","name":"","topic":"","payload":"Red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126.5,"y":48,"wires":[["99987a57.0d7188"]]},{"id":"f6b9c386.e3237","type":"inject","z":"d0ab1e34.248f8","name":"","topic":"","payload":"0,255,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124.5,"y":97,"wires":[["99987a57.0d7188"]]},{"id":"5fbda20b.3244dc","type":"inject","z":"d0ab1e34.248f8","name":"","topic":"","payload":"#0000FF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134.5,"y":147,"wires":[["99987a57.0d7188"]]},{"id":"df92e8ed.4e28f8","type":"inject","z":"d0ab1e34.248f8","name":"","topic":"","payload":"0,0,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126.5,"y":197,"wires":[["99987a57.0d7188"]]},{"id":"cc3a7a98.5ea638","type":"rpi-neopixels","z":"d0ab1e34.248f8","name":"Needle - Number of pixels","pixels":"12","bgnd":"Blue","fgnd":"Red","wipe":"40","mode":"pixelsneedle","rgb":"rgb","brightness":"100","gamma":true,"x":464.5000190734863,"y":256.00001335144043,"wires":[]},{"id":"ee3a1dfb.36d2b","type":"inject","z":"d0ab1e34.248f8","name":"","topic":"","payload":"6,#00FF00","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135.50000381469727,"y":256.0000123977661,"wires":[["cc3a7a98.5ea638"]]}]