ch15/Flow3-Blink.json
[{"id":"9333f79a.555158","type":"tab","label":"NeoPixel-3","disabled":false,"info":""},{"id":"fc529f16.f6e16","type":"change","z":"9333f79a.555158","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":675,"y":219.00000190734863,"wires":[["e7b924ce.9a55a8"]]},{"id":"80c153af.cb345","type":"switch","z":"9333f79a.555158","name":"","property":"i","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":443.99991607666016,"y":97.99998474121094,"wires":[["7f013a16.e73204"],["fc529f16.f6e16"]]},{"id":"e7b924ce.9a55a8","type":"rpi-neopixels","z":"9333f79a.555158","name":"Bar - Number of pixels","pixels":"12","bgnd":"","fgnd":"","wipe":"0","mode":"pixels","rgb":"rgb","brightness":"20","gamma":true,"x":930.000244140625,"y":135.00002479553223,"wires":[]},{"id":"f67c0cdc.3438c","type":"delay","z":"9333f79a.555158","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":425.9999084472656,"y":222.99998664855957,"wires":[["80c153af.cb345"]]},{"id":"f8a706cc.1e28a8","type":"change","z":"9333f79a.555158","name":"","rules":[{"t":"set","p":"i","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270.9999008178711,"y":97.9999771118164,"wires":[["80c153af.cb345"]]},{"id":"7f013a16.e73204","type":"function","z":"9333f79a.555158","name":"change color","func":"if (msg.payload === \"Blue\"){\n   msg.payload=\"Red\";\n}\nelse\n   msg.payload=\"Blue\";\n   \nmsg.i++;\nreturn msg;\n","outputs":1,"noerr":0,"x":668.0003051757812,"y":91.00002479553223,"wires":[["e7b924ce.9a55a8","f67c0cdc.3438c"]]},{"id":"9e062b8e.294088","type":"inject","z":"9333f79a.555158","name":"","topic":"","payload":"Blue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":93.4999008178711,"y":97.9999771118164,"wires":[["f8a706cc.1e28a8"]]},{"id":"724a2c0d.3a58b4","type":"comment","z":"9333f79a.555158","name":"1秒おきに全体を2色で点灯","info":"","x":128,"y":43,"wires":[]}]