ch11/OLED.json
[{"id":"2699ad77.16021a","type":"tab","label":"OLED","disabled":false,"info":""},{"id":"271890ff.266c7","type":"inject","z":"2699ad77.16021a","name":"自動スタート","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":115,"y":54,"wires":[["8aa0f49b.304148"]]},{"id":"f84e8a.37997978","type":"exec","z":"2699ad77.16021a","command":"python ~/OLED.py","addpay":false,"append":"1","useSpawn":"false","timer":"","oldrc":false,"name":"","x":508,"y":53,"wires":[["5a9236f2.5173e8"],[],[]]},{"id":"5a9236f2.5173e8","type":"delay","z":"2699ad77.16021a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":41,"wires":[["25d80d7d.f0214a"]]},{"id":"25d80d7d.f0214a","type":"exec","z":"2699ad77.16021a","command":"python ~/OLED.py","addpay":false,"append":"2","useSpawn":"false","timer":"","oldrc":false,"name":"","x":844,"y":42,"wires":[["149b0d27.013653"],[],[]]},{"id":"149b0d27.013653","type":"delay","z":"2699ad77.16021a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":679,"y":109,"wires":[["99edde09.12f788"]]},{"id":"99edde09.12f788","type":"camerapi-takephoto","z":"2699ad77.16021a","filemode":"1","filename":"TJBot_pic.jpg","filedefpath":"0","filepath":"~/","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"","x":843,"y":109,"wires":[["f7410087.308298"]]},{"id":"f7410087.308298","type":"exec","z":"2699ad77.16021a","command":"python ~/OLED.py","addpay":false,"append":"3","useSpawn":"false","timer":"","oldrc":false,"name":"","x":750,"y":208,"wires":[["59708407.198974"],[],[]]},{"id":"59708407.198974","type":"delay","z":"2699ad77.16021a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":419,"y":157,"wires":[["9c0a47df.6cc04"]]},{"id":"21c05ba.1a498a4","type":"function","z":"2699ad77.16021a","name":"","func":"global.set(\"temp\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":263,"y":115,"wires":[["9c0a47df.6cc04"]]},{"id":"8aa0f49b.304148","type":"function","z":"2699ad77.16021a","name":"","func":"global.set(\"temp\", 1);\nreturn msg;\n","outputs":1,"noerr":0,"x":266,"y":54,"wires":[["f84e8a.37997978"]]},{"id":"9c0a47df.6cc04","type":"switch","z":"2699ad77.16021a","name":"","property":"temp","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":418,"y":113,"wires":[["f84e8a.37997978"],[]]},{"id":"e2b095cd.ed20e","type":"inject","z":"2699ad77.16021a","name":"繰り返し停止","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103.5,"y":115,"wires":[["21c05ba.1a498a4"]]}]